/* CSS Goes Here */

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    }
    
    .navbar {
        background-color: grey;
        height: 75px;
    }
    
    .navbar-nav {
        margin-left: auto;
    }
    
    .nav-item {
        padding-right: 20px;
    }
    
    .nav-link {
        font-size: 20px;
    }
    
    .avatar {
        border-radius: 100%;
        margin-right: 10px;
    }
    
    a:hover {
        background-color: aqua;
      }
    
    .headerpro {
        background-color: aqua;
        padding-left: 10px;
        padding-right: 10px;
      }
      
      .hero {
        position: relative;
      }
    
    .hero-img {
        height: 400px;
        width: 100%;
    }
    
    .hero h2 {
        position: absolute;
        text-align: right;
        bottom: 75px;
        right: 50px;
        background-color: aqua;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* About section */
    .container-about {
        height: 250px;
        width: 100%;
    }
    .col-about {
        width: 20%;
        text-align: right;
        padding-top: 20px;
    }

    .about-text {
        padding-top: 20px;
        width: 78%;
    }

    /* Work Section */
    .container-work {
        height: px;
        height: auto;
        width: 100%;
    }
    .col-work {
        width: 20%;
        text-align: right;
        padding-top: 20px;
    }

    .col-work-row1 {
        width: 78%;
        padding-top: 20px;
    }

    .col-work-row2 {
        width: 78%;

    }

    /* Contact Section */

    .contact {
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
    }

    .card-body-contact {
        text-align: center;
    }

    #copy-rights {
        text-align: center;
        background-color: grey;
        margin-top: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .col-contact {
        width: 25%;
    }

    .card {
        transition: background-color 0.3s, box-shadow 0.3s;
    }
    .card:hover {
        background-color: white; /* Change to the color you want for the glow effect */
        box-shadow: 0 0 10px aqua;
    }